* {
    padding: 0;
    margin: 0;
}

#header>.container>.row {
    background-color: #73E9FF;
}

#content>.container>.row {
    margin-top: 5px;
}

.header-img {
    width: 70%;
    height: auto;
    padding: 5px;
}

.search-img {
    width: 50%;
    height: auto;
}

.div-number-persons {
    height: 50px;
}

.btn-light {
    width: 50%;
    padding: 0;
}

.btn-search {
    width: 10%;
}

.vert-center {
    margin-top: 40px;
}

.floating-headling {
    float: left;
    margin-right: 30px;
    margin-top: 10px;
}

.quick-buy-field {
    margin-right: 30px;
    margin-top: 5px;
    width: 50%;
    height: 100%;
}

.menucko-div {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #007186;
}

.quick-buy-btn {
    width: 100%;
}

.form-inline .form-control {
    width: 30%;
}

.input-date {
    margin-left: 15%;
    width: 65%;
}

.quick-buy-div {
    border-radius: 15px;
    border-color: black;
    border-style: solid;
    background-color: #73E9FF;
}

.quick-buy-btn {
    width: 75%;
}

.input-text {
    text-align: center;
    vertical-align: middle;
    margin-left: 20px;
}

.float-to-right {
    padding: 15px 0px 15px 0px;
    float: right;
}


/* attraction settings */

.attraction-item-box {
    margin-top: 20px;
    background-color: #73E9FF;
    padding: 10px 0px 15px 0px;
}

.attraction-item-img {
    margin-top: 10px;
}

.social-icon-box {
    margin-top: 20px;
    overflow: hidden;
    padding: 0;
}

.social-icon {
    width: 60%;
    padding: 5px 0px 5px 0px;
}

.attraction-rating-box {
    width: 100%;
    background-color: #ddd;
}

.rating {
    text-align: right;
    padding-right: 20px;
    height: 20px;
    color: black;
}

.attraction-item-label {
    position: absolute;
    width: 20%;
    margin: 0 auto;
}

body {
    background-color: #A6F1FF;
}

.brutal-attraction {
    width: 90%;
    background-color: #005767;
    color: white;
    padding: 4px;
}


/* side bar - right */

.sidebar-right {
    margin-top: 2px;
    background-color: #007186;
    border-radius: 15px;
    padding: 5px;
}

.sidebar-left {
    margin-top: 2px;
    background-color: #73E9FF;
    border-radius: 15px;
}

.sidebar-left-icon {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
    border-radius: 15px;
}

.sidebar-item {
    margin-bottom: 10px;
    background-color: white;
    border-radius: 15px;
    border-style: solid;
    padding: 5px;
}

.sidebar-icon {
    width: 50%;
    margin: 0 auto;
}

.nav-list-item {
    cursor: pointer;
    color: white;
    font-size: 225%;
    padding-bottom: 10px;
    text-align: center;
}

.nav-list-item:hover {
    color: #005767;
    background-color: white;
    border-radius: 15px;
}

.nav-list-item.isActive {
    color: #005767;
    background-color: white;
    border-radius: 15px;
}

.navbar {
    margin: 0;
}

.header-div {
    padding: 15px;
}


/* media queries */

@media(max-width: 545px) {
    .navbar {
        padding: 0px 0px 0px 0px;
    }
    .nav-list-item {
        padding: 5px 0px 5px 0px;
    }
    .quick-buy-field {
        width: 80%;
    }
    .social-icon-box {
        width: 70%;
        float: none;
        margin: auto;
    }
    .social-icon {
        width: 33%;
        float: left;
    }
}

@media(max-width: 1200px) {
    #quick-buy {
        display: none;
    }
}

h3 {
    margin: 0;
    padding: 0;
}

img {
    margin: 3px;
}

.language-switch {
    background-color: white;
    border-radius: 5px;
    width: 60%;
    color: #005767;
}

.search-input {
    width: 50%;
    border-radius: 15px;
    padding-left: 5px;
    color: #005767;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.language-text {
    color: #005767;
}

a:active {
    color: #005767;
}

.btn {
    color: #005767;
    background-color: white;
}

.btn.focus,
.btn:focus,
.btn:hover {
    color: #005767;
    background-color: white;
}