* {
    padding: 0;
    margin: 0;
}

#header>.container>.row {
    background-color: #73E9FF;
}

#content>.container>.row {
    margin-top: 5px;
}

.header-img {
    width: 70%;
    height: auto;
    padding: 5px;
}

.search-img {
    width: 50%;
    height: auto;
}

.div-number-persons {
    height: 50px;
}

.btn-light {
    width: 50%;
    padding: 0;
}

.btn-search {
    width: 10%;
}

.vert-center {
    margin-top: 40px;
}

.floating-headling {
    float: left;
    margin-right: 30px;
    margin-top: 10px;
}

.quick-buy-field {
    margin-right: 30px;
    margin-top: 5px;
    width: 50%;
    height: 100%;
}

.menucko-div {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #007186;
}

.quick-buy-btn {
    width: 100%;
}

.form-inline .form-control {
    width: 30%;
}

.input-date {
    margin-left: 15%;
    width: 65%;
}

.quick-buy-div {
    border-radius: 15px;
    border-color: black;
    border-style: solid;
    background-color: #73E9FF;
}

.quick-buy-btn {
    width: 75%;
}

.input-text {
    text-align: center;
    vertical-align: middle;
    margin-left: 20px;
}

.float-to-right {
    padding: 15px 0px 15px 0px;
    float: right;
}


/* attraction settings */

.attraction-item-box {
    margin-top: 20px;
    background-color: white;
    padding: 10px 0px 15px 0px;
}

.attraction-item-img {
    margin-top: 10px;
}

.social-icon-box {
    margin-top: 5px;
    overflow: hidden;
    padding: 0;
}

.social-icon {
    width: 60%;
    padding: 0px 0px 0px 0px;
}

.attraction-rating-box {
    width: 100%;
    background-color: #ddd;
}

.rating {
    text-align: right;
    padding-right: 20px;
    height: 20px;
    color: black;
}

.attraction-item-label {
    position: absolute;
    width: 20%;
    margin: 0 auto;
}

body {
    background-color: #A6F1FF;
}

.brutal-attraction {
    width: 90%;
    background-color: #005767;
    color: white;
    padding: 4px;
}

.show-more {
    text-align: center;
}

.notsogood-attraction {
    width: 50%;
    background-color: #005767;
    color: white;
    padding: 4px;
}

a {
    color: inherit;
}

.perfect-attraction {
    width: 100%;
    background-color: #005767;
    color: white;
    padding: 4px;
}


/* side bar - right */

.sidebar-right {
    margin-top: 2px;
    background-color: #007186;
    border-radius: 15px;
    padding: 5px;
}

.sidebar-left {
    margin-top: 2px;
    background-color: #73E9FF;
    border-radius: 15px;
    border-style: solid;
    border-color: inherit;
}

li {
    list-style-type: none;
    color: white;
    margin-left: 15%;
    margin-top: 15px;
}

.footer-end-div {
    text-align: center;
}

li:hover {
    color: #73E9FF;
}

.copyright {
    color: white;
    margin-top: 35px;
}

.copyright-div {
    text-align: center;
}

.sidebar-left-icon {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
    border-radius: 15px;
}

.footer-div {
    background-color: #005767;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.sidebar-item {
    margin-bottom: 10px;
    background-color: white;
    border-radius: 15px;
    border-style: solid;
    padding: 5px;
}

.sidebar-icon {
    width: 50%;
    margin: 0 auto;
}

.nav-list-item {
    cursor: pointer;
    color: white;
    font-size: 225%;
    padding-bottom: 10px;
    text-align: center;
}

.nav-list-item:hover {
    color: #005767;
    background-color: white;
    border-radius: 15px;
}

.nav-list-item.isActive {
    color: #005767;
    background-color: white;
    border-radius: 15px;
}

.attraction-list-box {
    background-color: #73E9FF;
    border-radius: 15px;
}

.navbar {
    margin: 0;
}

.header-div {
    padding: 15px;
}


/* media queries */

@media(max-width: 545px) {
    .navbar {
        padding: 0px 0px 0px 0px;
    }
    .nav-list-item {
        padding: 5px 0px 5px 0px;
    }
    .quick-buy-field {
        width: 80%;
    }
    .social-icon-box {
        width: 70%;
        float: none;
        margin: auto;
    }
    .social-icon {
        width: 33%;
        float: left;
    }
    #search-h2-food {
        display: none;
    }
    #search-h2-attractions {
        display: none;
    }
    #video {
        height: 150px;
    }
    #attractions-search-button-filter{
        margin-top: 0px;
    }
}

@media(max-width: 1200px) {
    #quick-buy {
        display: none;
    }
    .social-icon-box {
        display: none;
    }
}

@media(min-width: 1000px) {
    #attractions-search-button-filter{
        margin-top: 100px;
    }
}

h4 {
    color: #005767;
    margin: 0;
    margin-top: 5px;
}

h3 {
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
    padding: 0;
}

.newshit{
    color: #005767;
}

img {
    margin: 3px;
}

.language-switch {
    background-color: white;
    border-radius: 5px;
    width: 60%;
    color: #005767;
}

.search-input {
    width: 50%;
    border-radius: 15px;
    padding-left: 5px;
    color: #005767;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.language-text {
    color: #005767;
}

a:active {
    color: #005767;
}

.btn {
    color: #005767;
    background-color: white;
}

.btn.focus,
.btn:focus,
.btn:hover {
    color: #005767;
    background-color: white;
}

.btn-search-set-section {
    background-color: #005767;
    color: white;
    border-radius: 7px;
    border: none;
    margin: 5px 0 5px 0;
}

.attractions-button-svgs {
    width: 75px;
    height: auto;
    margin: auto;
}

.actual-filtering-box {
    background-color: #06D8FF;
}

#attractions-search-button-filter {
    /*margin-top: 0px;*/
    margin-bottom: 20px;
}

.filtering-checkboxes {
    padding: 5px;
}

#attractions-filtering-div {
    border-radius: 7px;
    display: none;
}

#attractions-filtering-attractions-list {
    display: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

.attractions-list-images {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.popup {
    opacity: 0.9;
    visibility: hidden;
    color: #fff;
    text-align: center;
    border-radius: 15px;
    padding: 3% 0;
    position: fixed;
    z-index: 2;
    top: 5%;
    left: 0%;
    margin-left: 25%;
    display: block;
    width: 50%;
    background-color: black;
    border: solid;
    border-color: white;
    text-align: center;
}

.popup-nadpis {
    opacity: 1;
    margin: 5%;
    font-size: 280%;
    font-weight: bold;
}

.popup-text {
    opacity: 1;
    margin: 2%;
    font-size: 150%;
}

.popup-ok {
    cursor: pointer;
    border: solid;
    border-color: white;
    color: black;
    background-color: #23FF00;
    opacity: 1;
    margin: 5%;
    border-radius: 15px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    padding: 3%;
    font-size: 170%;
}

.popup-ok:hover {
    background-color: rgb(160, 255, 144);
}

.pre-scrollable {
    max-height: 700px;
    overflow-y: scroll;
}

.parent {
    position: relative;
    top: 0;
    left: 0;
}

.map {
    width: 100%;
    height: auto;
    position: relative;
    top: 0;
    left: 0;
}

.attr1 {
      transition: all .2s ease-in-out;
    position: absolute;
    border: 3px solid transparent;
    border-radius: 10px;
    border-color: blue;
    width: 100%;
    height: auto;

}

.attr2 {
    transition: all .2s ease-in-out;
    position: absolute;
    border: 3px solid transparent;
    border-radius: 10px;
    border-color: blue;
    width: 100%;
    height: auto;
 
}

.attr3 {
      transition: all .2s ease-in-out;
    position: absolute;
    border: 3px solid transparent;
    border-radius: 10px;
    border-color: blue;
    width: 100%;
    height: auto;

}

.attr4 {
       transition: all .2s ease-in-out;
    position: absolute;
    border: 3px solid transparent;
    border-radius: 10px;
    border-color: blue;
    width: 100%;
    height: auto;

}
.attr5 {
    transition: all .2s ease-in-out;
    position: absolute;
    border: 3px solid transparent;
    border-radius: 10px;
    border-color: blue;
    width: 100%;
    height: auto;

}

.attr6 {
      transition: all .2s ease-in-out;
    position: absolute;
    border: 3px solid transparent;
    border-radius: 10px;
    border-color: blue;
    width: 100%;
    height: auto;

}

.attr7 {
       transition: all .2s ease-in-out;
    position: absolute;
    border: 3px solid transparent;
    border-radius: 10px;
    border-color: blue;
    width: 100%;
    height: auto;

}

.attr8 {
       transition: all .2s ease-in-out;
    position: absolute;
    border: 3px solid transparent;
    border-radius: 10px;
    border-color: blue;
    width: 100%;
    height: auto;

}
.divko1 {
    transition: all .2s ease-in-out;
    position: absolute;
    border-radius: 10px;
    border-color: blue;
    width: 10%;
    height: auto;
    top: 20%;
    left: 65%;
}
.divko2 {
    transition: all .2s ease-in-out;
    position: absolute;
    border-radius: 10px;
    border-color: blue;
    width: 10%;
    height: auto;
    top: 10%;
    left: 45%;
}
.divko3 {
    transition: all .2s ease-in-out;
    position: absolute;
    border-radius: 10px;
    border-color: blue;
    width: 10%;
    height: auto;
    top: 50%;
    left: 65%;
}
.divko4 {
    transition: all .2s ease-in-out;
    position: absolute;
    border-radius: 10px;
    border-color: blue;
    width: 10%;
    height: auto;
    top: 70%;
    left: 35%;
}
.divko5 {
    transition: all .2s ease-in-out;
    position: absolute;
    border-radius: 10px;
    border-color: blue;
    width: 10%;
    height: auto;
    top: 35%;
    left: 50%;
}
.divko6 {
    transition: all .2s ease-in-out;
    position: absolute;
    border-radius: 10px;
    border-color: blue;
    width: 10%;
    height: auto;
    top: 10%;
    left: 10%;
}
.divko7 {
    transition: all .2s ease-in-out;
    position: absolute;
    border-radius: 10px;
    border-color: blue;
    width: 10%;
    height: auto;
    top: 10%;
    left: 80%;
}
.divko8 {
    transition: all .2s ease-in-out;
    position: absolute;
    border-radius: 10px;
    border-color: blue;
    width: 10%;
    height: auto;
    top: 40%;
    left: 25%;
}
.attr1:hover {
    transform: scale(2.0);
}

.attr2:hover {
    transform: scale(2.0);
}

.attr3:hover {
    transform: scale(2.0);
}

.attr4:hover {
    transform: scale(2.0);
}

.attr5:hover {
    transform: scale(2.0);
}

.attr6:hover {
    transform: scale(2.0);
}

.attr7:hover {
    transform: scale(2.0);
}

.attr8:hover {
    transform: scale(2.0);
}


a[title]:hover:after {
     content: attr(title);
	 font-family: Cooper Black;
     padding: 4px 8px;
     position: relative;
     left: 0%;
     top: 0%;
     white-space: nowrap;
     z-index: 20px;
     background:#73E9FF;
}

.input-text2 {
    text-align: center;
    vertical-align: middle;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 110%;
}

hr {
    border-color: #005767;
    margin-top: 25px;
}

.myInput {
    display: inline-block;
}

.proceed-button {
    background-color: #06D8FF;
    color: #005767;
    border-radius: 7px;
    border: none;
    text-align: center;
    padding: 15px 35%;
    margin: 25px 0px;
    font-size: 24px;
}

.apply-button {
    background-color: #06D8FF;
    color: #005767;
    border-radius: 7px;
    border: none;
    margin: 1px 0 5px 0;
    padding: 2px;
}

.price-label {
    margin: 50px 0px 50px 100px;
    font-size: 24px;
}

.date-marg {
    margin: 0px 5px 0px;
}

.question {
    width: 20px;
    height: 20px;
}

#vomiting_stred {
    background-color: #73E9FF;
    border-radius: 10px;
}

#video {
    width: 100%;
    height: 300px;
}

#vomiting_ul li {
    font-size: 160%;
    list-style-type: inherit;
    color: #007186;
    margin-left: 0px;
}

#vomiting_nadpis {
    margin-left: 10%;
    font-family: Cooper Black;
}

#nadpis_ratingu {
    margin-left: 10%;
}

#hviezdicky {
    margin-top: 5%;
    margin-left: 10%;
    font-size: 180%;
}

#hviezdicky_komentar {
    margin-left: 10%;
    font-size: 110%;
}

#komentar_vomiting {
    text-align: justify;
    margin-top: 2%;
    background-color: #C8C8C8;
    padding: 10px 0px 15px 0px;
}

#posunuty_nadpis {
    margin-left: 20%;
}

.checked {
    color: gold;
}

.fa-star-half {
    color: gold;
}

.galeria_obrazok {
    height: 47.5%;
    width: 47.5%;
}

.galeria_obrazok_skryty {
    height: 0px;
    width: 0px;
}

.panel-default>.panel-heading {
    background-color: #d9d9d9;
    font-size: 120%;
}

.date-available {
    color: green;
}
.nadpisMapy{
	font-family: Cooper Black;
	text-align:center;
}

.fltr{
    font-size: 22px;
    font-weight: bold;
}